h1{
    background-image: url(sora.jpg);
    text-align: center;
    padding: 10%;
}
ul{
    text-align: center;
}
li{
    display:inline;
    list-style:none;
    padding: 1% 6%;
    background : black;
    color:blanchedalmond;
}
h2{
    text-align: center;
    margin: 4%;
}
h4{
    text-align: center;
}
p{
    text-align: center;
}
.myImage-left{
    float: left;
    box-sizing: border-box;
}
