body{
    margin: 0;
    padding: 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

#hoge{
    /* background-image: url(./image/sora.jpg); */
    text-align: center;

    /* background-position: center center;
    background-repeat: no-repeat;  */
    width:100%;
    min-height: 100vh;
    margin:0;
    padding: 0;
    background-size: cover;
    background-color: rgb(55, 0, 255);

}
ul{
    text-align: center;
    display:flex;
    align-items: flex-start;
    justify-content: center;
}
li{
    
    flex: auto;
    list-style:none;
    padding: 2% 6%;
    background : black;
    color:blanchedalmond;
}
h2{
    text-align: center;
    margin: 4%;
}
h4{
    text-align: center;
}
p{
    text-align: center;
}
.myImage{ 
    display: flex;
    text-align: center;
    justify-content: center;
}
.myImage-left{
    margin-right: 20px;
    width: 10%;
    padding: 1%;
}
.protext{
    text-align: left;
}
